@import url("../wal/colors.css");

* {
    font-family: "FiraCode Nerd Font", "FreeSerif", serif;
    font-size: 20px;
    color: @foreground;
    border: none;
}

window#waybar {
    background: alpha(@background, 0.5);
    border-bottom: 1px solid alpha(@color4, 0.6);
    padding: 5px 0;
}

#tray,
#custom-mullvad,
#wireplumber,
#mpd,
#cpu,
#custom-bitcoin,
#custom-weather,
#battery,
#network,
#language,
#custom-birthday-clock {
    background: transparent;
    margin-right: 10px;
}

#workspaces:hover,
#window:hover,
#tray:hover,
#custom-mullvad:hover,
#wireplumber:hover,
#mpd:hover,
#cpu:hover,
#custom-bitcoin:hover,
#custom-weather:hover,
#battery:hover,
#network:hover,
#language:hover,
#custom-birthday-clock:hover {
    background: alpha(@color3, 0.22);
}

#workspaces {
    margin-right: 6px;
}

#workspaces button.active {
    color: @foreground;
    background: alpha(@color3, 0.33);
}

#battery.critical {
    color: @color1;
}
